/Admin
/Author
/FHHS
/Survey
/PREMM5
/Pedigree
/PostgreSQL
/Prometheus/data
/keycloak/db
/keycloak/elicit-realm-export.json
/keycloak/certs/
/vaadin-quarkus-keycloak
/vaadin-quarkus-smtp
/postgresql/PGDATA
/mailpit_data
TEMP.sql
/sftp_data/
.idea/
.DS_Store
.vscode
